@model HomylogicAsp.Models.Devices.Homyoko.EditWeatherStationViewModel

@using X.Homylogic.Models.Objects.Devices.Homyoko;

@{
    ViewData["Title"] = "Meteostation history";

    WeatherStation weatherStation = (WeatherStation)X.Homylogic.Body.Runtime.Devices.FindDataRecord(ViewData.Model.ID);
    if (weatherStation == null)
    {
        ViewData["SubTitle"] = "Meteostation device not found.";
    }
    else {
        ViewData["SubTitle"] = weatherStation.Name;
    }

    


}

<h1>@ViewData["Title"]</h1>
<h4><img id="navigate-back" src="~/images/svg/arrow-left-short.svg" class="img-navigate-back" />@ViewData["SubTitle"]</h4>

<canvas id="chart-temperatures"></canvas>
<canvas id="chart-winds"></canvas>
<canvas id="chart-shine"></canvas>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/chartjs/Chart.bundle.js"></script>

<script>
    var configTemperatures = {
        type: 'line',
        data: {
            datasets: [{
                label: 'Temperature 1',
                backgroundColor: 'rgba(255, 0, 0, 0.7)',
                borderColor: 'rgba(255, 0, 0, 0.5)',
                fill: false
            }, {
                label: 'Temperature 2',
                backgroundColor: 'rgba(0, 0, 255, 0.7)',
                borderColor: 'rgba(0, 0, 255, 0.5)',
                fill: false
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Temperatures'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    type: 'time',
                    distribution: 'linear',
                    time: {
                        unit: 'day',
                        displayFormats: {
                            day: 'HH:mm - MMM D'
                        }
                    },
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Temperature °C'
                    }
                }]
            }
        }
    };
    var configWinds = {
        type: 'line',
        data: {
            datasets: [{
                label: 'Windspeed average',
                backgroundColor: 'rgba(0, 255, 0, 0.7)',
                borderColor: 'rgba(0, 255, 0, 0.5)',
                fill: false
            }, {
                label: 'Windspeed actual',
                backgroundColor: 'rgba(0, 0, 0, 0.5)',
                borderColor: 'rgba(0, 0, 0, 0.3)',
                fill: false
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Windspeed'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    type: 'time',
                    distribution: 'linear',
                    time: {
                        unit: 'day',
                        displayFormats: {
                            day: 'HH:mm - MMM D'
                        }
                    },
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Speed m/s'
                    }
                }]
            }
        }
    };
    var configShine = {
        type: 'line',
        data: {
            datasets: [{
                label: 'Sunshine',
                backgroundColor: 'rgba(198, 179, 0, 0.7)',
                borderColor: 'rgba(198, 179, 0, 0.5)',
                fill: true
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Sunshine'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    type: 'time',
                    distribution: 'linear',
                    time: {
                        unit: 'day',
                        displayFormats: {
                            day: 'HH:mm - MMM D'
                        }
                    },
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Shine %'
                    }
                }]
            }
        }
    };

    $(document).ready(function () {

        var ctxTemps = document.getElementById('chart-temperatures').getContext('2d');
        window.chartTemps = new Chart(ctxTemps, configTemperatures);
        var ctxWinds = document.getElementById('chart-winds').getContext('2d');
        window.chartWinds = new Chart(ctxWinds, configWinds);
        var ctxShine = document.getElementById('chart-shine').getContext('2d');
        window.chartShine = new Chart(ctxShine, configShine);

        // Načítaj históriu údajov.
        var url = '/Devices/GetHistoryHomyokoWeatherStation/' + @weatherStation.ID;
        $.get(url, function (data) {
            if (data == null) return;
            var arrData = data.split(";");
            for (var i = 0; i < arrData.length; i++) {
                if (arrData[i].trim() == '') continue;
                arrValues = arrData[i].split(",");
                var time = new Date(arrValues[0]);
                var temp1 = arrValues[1];
                var temp2 = arrValues[2];
                var wind = arrValues[3];
                var windA = arrValues[4];
                var shine = arrValues[5];
                configTemperatures.data.labels.push(time);
                configTemperatures.data.datasets[0].data.push({ x: time, y: temp1 });
                configTemperatures.data.datasets[1].data.push({ x: time, y: temp2 });
                configWinds.data.labels.push(time);
                configWinds.data.datasets[0].data.push({ x: time, y: windA });
                configWinds.data.datasets[1].data.push({ x: time, y: wind });
                configShine.data.labels.push(time);
                configShine.data.datasets[0].data.push({ x: time, y: shine });
            }
            window.chartTemps.update();
            window.chartWinds.update();
            window.chartShine.update();
        });

        // Nastaviť obmedzenie na maximálnu šírku stránky,
        // nastavuje sa podľa výšky, aby graf vošiel akurát na stránku.
        $("#body-container").css("max-width", window.outerHeight + "px");

    });


</script>

